<!-- header text starts here-->
<div class="container-fluid">
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12 heading-text m-t-50">
			<h2>This company unites the physicians and scientists with the health professionals and facilities.</h2>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 text-center m-t-25">
			   <div class="btn-group">
			   		<button type="button" class="btn btn-round btn-info btn-round-padding">Signup Now</button>
					  <button type="button" class="btn btn-round btn-info btn-round-padding">Login</button>
				</div>
		</div>
	</div>
</div>
<!--header text ends here-->
<!--slider starts here-->
<div class="container-fluid slider">
	<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
	  <!-- Overlay -->
	  <div class="overlay"></div>

	  
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item slides active">
	      <div class="slide-1"></div>
	      <div class="hero">
	        <hgroup>
	            <h1>We are creative</h1>        
	            <h3>Get start your next awesome project</h3>
	        </hgroup>
	        <button class="btn btn-hero btn-lg" role="button">See all features</button>
	      </div>
	    </div>
	    <div class="item slides">
	      <div class="slide-2"></div>
	      <div class="hero">        
	        <hgroup>
	            <h1>We are smart</h1>        
	            <h3>Get start your next awesome project</h3>
	        </hgroup>       
	        <button class="btn btn-hero btn-lg" role="button">See all features</button>
	      </div>
	    </div>
	    <div class="item slides">
	      <div class="slide-3"></div>
	      <div class="hero">        
	        <hgroup>
	            <h1>We are amazing</h1>        
	            <h3>Get start your next awesome project</h3>
	        </hgroup>
	        <button class="btn btn-hero btn-lg" role="button">See all features</button>
	      </div>
	    </div>
	  </div> 
	</div>
</div>
<!--slider ends here-->
<!--abouts starts here-->
<div class="container-fluid" id="#Pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12 about-us">
				<h5>WHY PAY WHEN YOU GET EVERYTHING FREE</h5>
				<h2>Free for life time</h2>
				<p>You will get almost everything you need.we have added all possible features to make your clinic practice easier .check them out.</p>
				<button type="button" class="btn btn-round btn-info btn-round-padding m-t-30">Try Now</button>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12 text-center about-us">
				<img src="images/about-us.png" alt="about-us" class="img-responsive" />
			</div>
		</div>
	</div>
</div>
<!--abouts end here-->
<!--signup starts here-->
<div class="container-fluid m-t-50">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12 col-xs-12">
				<img src="images/signup.png" alt="signuprow" class="img-responsive"/>
			</div>
				<div class="col-xs-12 col-sm-12 col-md-4 well well-sm services1">
            <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="#" method="post" class="form" role="form">
            
       
            <div><input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus /></div>
            <div><input class="form-control" name="youremail" placeholder="Your Email" type="email" /></div>
            <div><input class="form-control" name="password" placeholder="New Password" type="password" /></div>
            <div><input class="form-control" name="reenterpassword" placeholder="Re-enter password" type="password" /></div>
            <div><input class="form-control" name="Mobilenumber" placeholder="Mobile Number" type="number" /></div>
            <div>
                <select class="form-control m-b-10" name="speciality" id="speciality">
                  <option>Select Speciality</option>
                </select>
            </div>
            <div><input class="form-control" name="Qualification" placeholder="Qualification" type="text" /></div>
            <div><input class="form-control" name="Address" placeholder="Address" type="text" /></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
			</div>
		</div>
	</div>
<!--signup ends here -->
<!--secured starts here-->
<div class="container-fluid m-t-50">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12 secured">
				<h5>SECURED</h5>
				<h2>YOUR PATIENT RECORDS ARE SECURE WITH US</h2>
				<p>Our Secure Cloud enabled clinic software saves your patient records in an encrypted format</p>
				<button type="button" class="btn btn-round btn-info btn-round-padding m-t-30">Try Now</button>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<img src="images/secured.png" alt="secured-image" class="img-responsive" />
			</div>
		</div>
	</div>
</div>
<!--secured Ends here-->
<!--contact us starts here-->
<div class="container-fluid call-now">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<h2>Are you Satisfied with what we offer?</h2>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 butn">
				<button type="button" class="btn btn-round btn-info btn-round-padding m-t-30">Signup Now</button>
				<button type="button" class="btn btn-round btn-info btn-round-padding m-t-30">Call Now</button>
			</div>
		</div>
	</div>
</div>
<!--contact us end here-->
<!--footer starts here -->
<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="m-t-20">
            <p class="text-center pull-left">&copy; All Rights are Reserved by <span style="color: #fff;">SU TechnoSoft Solutions.</span></p>
            <p class="text-center pull-right">Software Designed & Developed by <span style="color: #fff;">SU TechnoSoft Solutions.</span></p>
        </div>
    </div>
  </div>
</div>
<!--footer ends here -->