<div class="container-fluid bg-image">
	<div class="container">
		<div class="row signup">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue</strong>
					</div>
					<div class="panel-body">
						<form role="form" action="#" method="POST">
							<fieldset>
								<div class="row">
									<div class="center-block">
										<img class="profile-img"
											src="images/heart.png" alt="">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-10 col-md-offset-1 m-t-10">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input class="form-control" required placeholder="Username" name="loginname" type="email" autofocus>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input class="form-control" required placeholder="Password" name="password" type="password" value="">
											</div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="panel-footer ">
						Don't have an account! <a ui-sref="signup" onClick=""> Sign Up Here </a>
					</div>
                </div>
			</div>
		</div>
	</div>
	</div>
	<!--footer starts here -->
<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="m-t-20">
            <p class="text-center pull-left">&copy; All Rights are Reserved by <span style="color: #fff;">SU TechnoSoft Solutions.</span></p>
            <p class="text-center pull-right">Software Designed & Developed by <span style="color: #fff;">SU TechnoSoft Solutions.</span></p>
        </div>
    </div>
  </div>
</div>
<!--footer ends here -->